body {
  font-family: "Ubuntu", sans-serif;
  background-image: url(../images/globe.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: sepia(10%);
  background-color: #897f72;
}

h1,
h2,
h3 {
  color: #006ec5;
}
h1 {
  padding-top: 20px;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
h4 {
  color: #42a5f5;
  font-family: "Ubuntu", sans-serif;
}
label {
  color: #3a3c3f;
}
p {
  line-height: 1.5;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #5a6274;
  /* text-transform: capitalize; */
}
li::first-letter {
  text-transform: capitalize;
}
form {
  position: relative;
  left: 15px;
}
.container-wrapper {
  border: 1px solid #929aa9;
  background: rgb(243, 243, 246, 0.8);
  opacity: 0.9;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  left: 10px;
  max-width: 800px;
  padding-bottom: 30px;
}
.container-location {
  position: relative;
  left: 20px;
  color: #5a6274;
  font-size: 16px;
  padding: 10px;
}
.card-body {
  background: rgb(243, 243, 246, 0.9);
  border-radius: 10px;
}
.weather-now {
  opacity: 0.9;
  font-size: 60px;
  transition: all 150ms ease-in-out;
}
.weather-now:hover,
.weather-icon:hover {
  opacity: 0.5;
  font-size: 70px;
}
.card {
  text-align: center;
  /* background-color: #ffdfd8; */
}

.weather-icon {
  font-size: 50px;
  color: #5a6274;
  text-align: center;
  padding: 10px;
  transition: all 150ms ease-in-out;
}
.temp-max {
  opacity: 0.9;
}
#humidity,
#wind {
  font-size: 18px;
  color: #212529;
}

/* .temp-min {
  /* text-transform: uppercase; */
/* } */

/* .last-updated::first-letter {
  text-transform: capitalize;
} */
#weather-element:hover {
  opacity: 0.5;
  font-size: 70px;
}

#celcius-temp {
  color: #42a5f5;
  font-weight: 800;
  font-size: 35px;
  border: none;
  /* background-color: #ffffff; */
}

/* #to-fahrenheit-temp,
#to-celcius-temp {
  border: #5a6274;
  color: #5a6274;
  font-weight: 500;
  margin: 0;
} */

.card-body {
  text-align: center;
  padding: 20px;
}

.btn-success {
  cursor: pointer;
  padding-left: 15px;
}
.open-source {
  padding: 10px;
  margin: 0 auto;
  display: block;
  color: #ffffff;
  text-decoration: none;
  color: #3a3c3f;
}
a .open-source {
  text-decoration: none;
  color: #3a3c3f;
}

#humidity strong {
  color: #5a6274;
}
